{
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["jest", "prettier"],
    "env": {
      "node": true,
      "jest/globals": true
    },
    "rules": {
        "no-console": "off",
        "no-restricted-syntax": ["off", "ForOfLoops"]
    }
}
